.NavigationItem{
   margin: 0;
   box-sizing: border-box;
   display: block;
   width:100%;
   a{
      color:#95a5a6;
      text-decoration: none;
      width: 100%;
      padding:10px 10px;
      display:block;
      box-sizing: border-box;
      border-bottom: solid 0px transparent;
      transition:.2s ease;
      &:hover, &:active, &.active{
         color:#34495e;
      }
   }
}


@media (min-width:500px){
   .NavigationItem{
      display: flex;
      align-items: center;
      height:100%;
      width: auto;
      a{
         width: auto;
         height: 100%;
         padding:16px 10px;
         &:hover, &:active, &.active{
            background-color:#34495e;
            border-bottom: solid 4px #95a5a6;
            color:#95a5a6;
         }
      }
   }
}